#custom-bootstrap-menu.navbar-default .navbar-brand {
    color:#f5f5f5;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(37, 84, 117, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(152, 221, 255, 1);
    background-color: rgba(37, 84, 117, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(245, 245, 10, 1);
    background-color: rgba(37, 84, 117, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(152, 221, 255, 1);
    background-color: rgba(26, 38, 49, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #fcf8e3;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #1a2631;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fcf8e3;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #255475;
}
